services:
  node-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: yarn tsx src/server/runtimes/node/node.ts /workspace/testeranto/runtimes/node/node.js
    networks:
      - default
  node-example_calculator-test-ts-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn eslint }
    networks:
      - default
  node-example_calculator-test-ts-static-1:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-static-1
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn tsc --noEmit }
    networks:
      - default
  node-example_calculator-test-ts-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: TEST_NAME=allTests WS_PORT=3456 ENV=node  node testeranto/bundles/allTests/node/example/Calculator.test.mjs /workspace/node.js '{"ports":[1111]}' || echo "Build process exited with code $?, but keeping container alive for health checks";
    networks:
      - default
  node-example_calculator-test-ts-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: node-example_calculator-test-ts-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  web-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: yarn tsx src/server/runtimes/web/web.ts /workspace/testeranto/runtimes/web/web.js
    networks:
      - default
  web-example_calculator-test-ts-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn eslint}
    networks:
      - default
  web-example_calculator-test-ts-static-1:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-static-1
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn tsc --noEmit }
    networks:
      - default
  web-example_calculator-test-ts-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: echo "BDD command not implemented for web"
    networks:
      - default
  web-example_calculator-test-ts-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: web-example_calculator-test-ts-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  golang-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: golang.Dockerfile
    container_name: golang-builder-allTests
    environment: {}
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto:/workspace
    command: sh -c 'echo "GOLANG BUILDER STARTING"; cd /workspace && echo "Running main.go directly with go run..."; go run src/server/runtimes/golang/main.go 2>&1'
    networks:
      - default
  golang-example_calculator-golingvu-test-go-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: golang.Dockerfile
    container_name: golang-example_calculator-golingvu-test-go-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: cd /workspace/example && golangci-lint run }
    networks:
      - default
  golang-example_calculator-golingvu-test-go-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: golang.Dockerfile
    container_name: golang-example_calculator-golingvu-test-go-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: echo "BDD command not implemented for golang"
    networks:
      - default
  golang-example_calculator-golingvu-test-go-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: golang-example_calculator-golingvu-test-go-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  python-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: python src/server/runtimes/python/pitono.py
    networks:
      - default
  python-example_calculator-pitono-test-py-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-example_calculator-pitono-test-py-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: pylint }
    networks:
      - default
  python-example_calculator-pitono-test-py-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-example_calculator-pitono-test-py-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: echo "BDD command not implemented for python"
    networks:
      - default
  python-example_calculator-pitono-test-py-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: python-example_calculator-pitono-test-py-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
volumes:
  node_modules:
    driver: local
networks:
  default:
    name: allTests_network
