services:
  node-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
    command: sh -c "pwd; ls -al; yarn tsx dist/prebuild/server/runtimes/node/node.mjs /workspace/allTests.ts"
    networks:
      - default
  node-example_calculator-test-ts-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  node-example_calculator-test-ts-static-1:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-static-1
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  node-example_calculator-test-ts-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  node-example_calculator-test-ts-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: node-example_calculator-test-ts-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  web-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-builder-allTests
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto:/workspace
    networks:
      - default
  web-example_calculator-test-ts-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  web-example_calculator-test-ts-static-1:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-static-1
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  web-example_calculator-test-ts-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  web-example_calculator-test-ts-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: web-example_calculator-test-ts-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  golang-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: golang.Dockerfile
    container_name: golang-builder-allTests
    environment: {}
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto:/workspace
    networks:
      - default
  golang-example_calculator-golingvu-test-go-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: golang.Dockerfile
    container_name: golang-example_calculator-golingvu-test-go-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  golang-example_calculator-golingvu-test-go-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: golang.Dockerfile
    container_name: golang-example_calculator-golingvu-test-go-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  golang-example_calculator-golingvu-test-go-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: golang-example_calculator-golingvu-test-go-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  python-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-builder-allTests
    environment:
      PYTHONUNBUFFERED: '1'
    volumes:
      - /Users/adam/Code/testeranto:/workspace
    working_dir: /workspace
    command: python main.py
    networks:
      - default
  python-example_calculator-pitono-test-py-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-example_calculator-pitono-test-py-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  python-example_calculator-pitono-test-py-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-example_calculator-pitono-test-py-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    networks:
      - default
  python-example_calculator-pitono-test-py-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: python-example_calculator-pitono-test-py-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
volumes:
  node_modules:
    driver: local
networks:
  default:
    name: allTests_network
