services:
  browser:
    image: browserless/chrome:latest
    container_name: browser-allTests
    environment:
      CONNECTION_TIMEOUT: '60000'
      MAX_CONCURRENT_SESSIONS: '10'
      ENABLE_CORS: 'true'
      TOKEN: ''
    ports:
      - '3000:3000'
      - '9222:9222'
    networks:
      - default
  node-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: yarn tsx src/server/runtimes/node/node.ts /workspace/testeranto/runtimes/node/node.js
    networks:
      - default
  node-example_calculator-test-ts-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn eslint }
    networks:
      - default
  node-example_calculator-test-ts-static-1:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-static-1
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn tsc --noEmit }
    networks:
      - default
  node-example_calculator-test-ts-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: node.Dockerfile
    container_name: node-example_calculator-test-ts-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: node testeranto/bundles/allTests/node/example/Calculator.test.mjs /workspace/node.js '{"ports":[1111]}' || echo "Build process exited with code $?, but keeping container alive for health checks";
    networks:
      - default
  node-example_calculator-test-ts-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: node-example_calculator-test-ts-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  web-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-builder-allTests
    environment:
      NODE_ENV: production
      DOCKER_ENV: 'true'
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: yarn tsx src/server/runtimes/web/web.ts testeranto/runtimes/web/web.js
    networks:
      - default
  web-example_calculator-test-ts-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn eslint}
    networks:
      - default
  web-example_calculator-test-ts-static-1:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-static-1
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: yarn tsc --noEmit }
    networks:
      - default
  web-example_calculator-test-ts-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: web.Dockerfile
    container_name: web-example_calculator-test-ts-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: yarn tsx  src/server/runtimes/web/hoist.ts testeranto/bundles/allTests/web/example/Calculator.test.mjs
    networks:
      - default
  web-example_calculator-test-ts-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: web-example_calculator-test-ts-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  golang-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: testeranto/runtimes/golang/golang.Dockerfile
    container_name: golang-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: go run src/server/runtimes/golang/main.go
    networks:
      - default
  golang-example_cmd_calculator-test_main-go-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: testeranto/runtimes/golang/golang.Dockerfile
    container_name: golang-example_cmd_calculator-test_main-go-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: golangci-lint run }
    networks:
      - default
  golang-example_cmd_calculator-test_main-go-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: testeranto/runtimes/golang/golang.Dockerfile
    container_name: golang-example_cmd_calculator-test_main-go-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: go run example/cmd/calculator-test
    networks:
      - default
  golang-example_cmd_calculator-test_main-go-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: golang-example_cmd_calculator-test_main-go-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  python-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: python src/server/runtimes/python/pitono.py
    networks:
      - default
  python-example_calculator-pitono-test-py-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-example_calculator-pitono-test-py-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: pylint }
    networks:
      - default
  python-example_calculator-pitono-test-py-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: python.Dockerfile
    container_name: python-example_calculator-pitono-test-py-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: python /workspace/testeranto/bundles/allTests/python/Calculator.pitono.test.bundle.py
    networks:
      - default
  python-example_calculator-pitono-test-py-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: python-example_calculator-pitono-test-py-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
  ruby-builder:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: testeranto/runtimes/ruby/ruby.Dockerfile
    container_name: ruby-builder-allTests
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: 'ls; pwd; '
    networks:
      - default
  ruby-example_calculator-test-ruby-rb-static-0:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: testeranto/runtimes/ruby/ruby.Dockerfile
    container_name: ruby-example_calculator-test-ruby-rb-static-0
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: 'rubocop '
    networks:
      - default
  ruby-example_calculator-test-ruby-rb-bdd:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: testeranto/runtimes/ruby/ruby.Dockerfile
    container_name: ruby-example_calculator-test-ruby-rb-bdd
    environment:
      NODE_ENV: production
    working_dir: /workspace
    volumes:
      - /Users/adam/Code/testeranto/src:/workspace/src
      - /Users/adam/Code/testeranto/example:/workspace/example
      - /Users/adam/Code/testeranto/dist:/workspace/dist
      - /Users/adam/Code/testeranto/testeranto:/workspace/testeranto
    command: ruby example/Calculator-test.rb '{"ports":[1111]}'
    networks:
      - default
  ruby-example_calculator-test-ruby-rb-aider:
    build:
      context: /Users/adam/Code/testeranto
      dockerfile: aider.Dockerfile
    container_name: ruby-example_calculator-test-ruby-rb-aider
    environment:
      NODE_ENV: production
    working_dir: /workspace
    command: aider
    networks:
      - default
volumes:
  node_modules:
    driver: local
networks:
  default:
    name: allTests_network
