node_modules
secret*
.aider*
stargazers.txt
__pycache__
example/vendor/
vendor/

!testeranto/bundles/golang/Calculator.golingvu.test.go

dist

example/bin
example/calculator_example
example/include
example/include/python3.12
example/lib
example/lib/python3.12
example/lib/python3.12/site-packages
testeranto/reports/allTests/docker-logs/**/*

# VS Code Extension
*.vsix
.vscode-test/
out/
!dist/vscode/extension.js
