*
!dist/vscode/extension.js
!media/icon.svg
!README.md
!CHANGELOG.md
!package.json
node_modules
venv
example
.aider*
bin
cmd
dist
docs
testeranto*
!dist/vscode/extension.js
!dist/vscode/media/
dist/vscode/media/*
!dist/vscode/media/fourColumn.css
!dist/vscode/media/fourColumn.js
!media/icon.svg
!README.md
!CHANGELOG.md
!LICENSE
!package.json
.mypy_cache/
.ruby-lsp/
.venv/
.aider*
testeranto/
!dist/vscode/extension.mjs