@use "./style.scss";
@import "testeranto-stilo/src/gradients.scss";

// @use "testeranto-stilo/src/style.scss";

// Custom tooltip styles if needed
.tooltip {
  .tooltip-inner {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
  }

  .tooltip-arrow::before {
    border-right-color: #333;
  }
}
