@import "bootstrap/scss/bootstrap.scss";
// @import "testeranto-stilo/src/style.scss";
// @import "./themes.scss";

// Ultra-tight spacing overrides
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 0.75rem;
}

.container-fluid {
  padding-left: 0.0625rem;
  padding-right: 0.0625rem;
}

// Padding utilities
.p-4 {
  padding: 0.125rem !important;
}
.p-3 {
  padding: 0.125rem !important;
}
.p-2 {
  padding: 0.0625rem !important;
}
.p-1 {
  padding: 0.03125rem !important;
}

// Margin utilities
.m-2 {
  margin: 0.0625rem !important;
}
.m-3 {
  margin: 0.125rem !important;
}
.mb-3 {
  margin-bottom: 0.125rem !important;
}
.mt-2 {
  margin-top: 0.0625rem !important;
}
.mt-3 {
  margin-top: 0.125rem !important;
}

// Navbar and sidebar adjustments
.navbar {
  min-height: 1.25rem;
}

.nav-link {
  padding: 0.0625rem 0.125rem !important;
  margin: 0.03125rem !important;
  font-size: 0.6875rem;
}

// Card adjustments
.card {
  margin-bottom: 0.125rem;
}

.card-body {
  padding: 0.125rem;
}

.card-header {
  padding: 0.0625rem 0.125rem;
  font-size: 0.6875rem;
}

// Form adjustments
.form-control {
  padding: 0.03125rem 0.0625rem;
  font-size: 0.6875rem;
  line-height: 1;
}

.form-label {
  margin-bottom: 0.03125rem;
  font-size: 0.6875rem;
}

// Button adjustments
.btn {
  padding: 0.03125rem 0.125rem;
  font-size: 0.6875rem;
  line-height: 1;
}

.btn-sm {
  padding: 0.015625rem 0.0625rem;
  font-size: 0.625rem;
}

// Alert adjustments
.alert {
  padding: 0.0625rem 0.125rem;
  margin-bottom: 0.125rem;
  font-size: 0.6875rem;
}

// Tooltip adjustments
.tooltip {
  .tooltip-inner {
    padding: 0.0625rem 0.125rem;
    font-size: 0.625rem;
  }
}

// Additional ultra-compact styles
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.125rem;
  line-height: 1;
}

h1 {
  font-size: 1rem;
}
h2 {
  font-size: 0.9375rem;
}
h3 {
  font-size: 0.875rem;
}
h4 {
  font-size: 0.8125rem;
}
h5 {
  font-size: 0.75rem;
}
h6 {
  font-size: 0.6875rem;
}

// List items
ul,
ol {
  padding-left: 0.75rem;
  margin-bottom: 0.125rem;
}

li {
  margin-bottom: 0.0625rem;
}

// Table adjustments
.table {
  font-size: 0.6875rem;
  margin-bottom: 0.125rem;

  th,
  td {
    padding: 0.0625rem 0.125rem;
  }
}

// Badge adjustments
.badge {
  font-size: 0.625rem;
  padding: 0.0625rem 0.125rem;
}

// Dropdown adjustments
.dropdown-menu {
  font-size: 0.6875rem;
  padding: 0.0625rem;

  .dropdown-item {
    padding: 0.0625rem 0.25rem;
  }
}

// Modal adjustments
.modal-content {
  .modal-header {
    padding: 0.125rem 0.25rem;
  }
  .modal-body {
    padding: 0.125rem;
  }
  .modal-footer {
    padding: 0.125rem;
  }
}

// Reduce border radii for a more compact look
.rounded {
  border-radius: 0.0625rem !important;
}
.rounded-sm {
  border-radius: 0.03125rem !important;
}

// Event log specific styles
.event-log-entry {
  font-size: 0.625rem;
  padding: 0.03125rem 0.0625rem;
  border-left: 2px solid;
}

.event-enqueue {
  border-left-color: #28a745;
  background-color: rgba(40, 167, 69, 0.05);
}

.event-dequeue {
  border-left-color: #dc3545;
  background-color: rgba(220, 53, 69, 0.05);
}

.event-log-badge {
  font-size: 0.5625rem;
  padding: 0.03125rem 0.125rem;
}

/////////////////////////////////
///
// @font-face {
//   font-family: "M PLUS Rounded 1c";
//   src: url("../../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Thin.ttf")
//     format("truetype");
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: "M PLUS Rounded 1c";
//   src: url("../../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf")
//     format("truetype");
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "M PLUS Rounded 1c";
//   src: url("../../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf")
//     format("truetype");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "M PLUS Rounded 1c";
//   src: url("../../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf")
//     format("truetype");
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: "M PLUS Rounded 1c";
//   src: url("../../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf")
//     format("truetype");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "M PLUS Rounded 1c";
//   src: url("../../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-ExtraBold.ttf")
//     format("truetype");
//   font-weight: 800;
//   font-style: normal;
// }

// @font-face {
//   font-family: "M PLUS Rounded 1c";
//   src: url("../../../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf")
//     format("truetype");
//   font-weight: 900;
//   font-style: normal;
// }
